h1{
    color:black;
    
}

.headerContainer{
    display:flex;
    flex-direction:column;
    align-items:center;   
    background:rgb(202, 193, 193);
    width:100%;
    margin-top:20px;
}

#img-div{
    text-align:center;
    display:block;
}
#image{
    width: 100%;
    height:auto;
}

#tribute-info{
    display:inline-block;
    width:100%;
    background: lightgoldenrodyellow;  
}
#tribute-info h2{
    text-align:center;
    padding-bottom: 50px;
}

ul{
    position:relative;
    left:600px;
  
    display:flex;
    flex-direction:column;
    align-content: space-between;
   
}
li{
    text-align:left;
    padding-bottom: 20px;
}
#lastitem{
    padding-bottom: 50px;
}

#tribute-link{
    background:rgb(184, 191, 199);
    text-align:center;
}