html{
    background:white;
}

h1{
    color:black;
}

.headerContainer{
    display:flex;
    flex-direction:column;
    align-items:center;   
    background:rgb(235, 228, 228);
    width:100%;
    margin-top:20px;
}

#img-div{
    text-align:center;
    display:block;
}
#image{
    display:block;
    margin:auto;
    max-width: 1000px;
    width: 100%;
    height:auto;
}

#tribute-info{
    display:inline-block;
    width:100%;
    background: rgb(235, 228, 228);  
}
#tribute-info h2{
    text-align:center;
    padding-bottom: 50px;
}

ul{
    position:relative;
    left:600px;
  
    display:flex;
    flex-direction:column;
    align-content: space-between;
   
}
li{
    text-align:left;
    padding-bottom: 20px;
}
#lastitem{
    padding-bottom: 100px;
}

.footerContainer{
    background:rgb(235, 228, 228);
    text-align:center;
}